<!doctype html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"><%= title %></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><%= title %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://127.0.0.1:3000">全部相册 <span class="sr-only">(current)</span></a></li>
                <li><a href="/up">上传照片</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <% for(var i=0;i<albums.length;i++){ %>
        <div class="col-xs-6 col-md-3">
            <a href="/<%= albums[i]%>" class="thumbnail">
                <img src="/images/123.gif" alt="图片路径错误！">
            </a>
            <p><%= albums[i] %></p>
        </div>
        <% } %>
    </div>
</div>



<script src="/js/jquery.min.js"></script>
</body>
</html>